.textCenter {
  text-align: center;
}

.registerBtn {
  margin-top: 17px;
}

.googleBtn {
  margin-top: 17px;
}

.altOptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: center;
}

.loginArea {
  cursor: pointer;
  border: none;
  margin-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.loginIcon {
  width: 13px;
  height: 13px;
}

@media (min-width: 768px) {
  .loginArea {
    gap: 8px;
  }

  .loginIcon {
    width: 17px;
    height: 17px;
  }
}
