.body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  background-color: #0097b2;
  border-radius: 20px;
  width: 80%;
  max-width: 650px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 25px;
}
