.container {
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

.container hr {
  flex: 1;
  height: 2px;
  background-color: #fff;
}

.container span {
  color: #fff;
  font-size: 15px;
}
