:root {
  --primary-color: #25e7ad00;
  --light-gray: #bcbcbc;
}

* {
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  background-color: var(--primary-color);
}

body {
  background-color: var(--primary-color);
  margin: 0;
}
