:root {
  --primary-color: #25aae700;
  --secundary-color: #0097b2;
  --tertiary-color: black;
  --quaternary-color: #454f5eef;
  --quinary-color: #f0f0f0;

  --btn-cart-bg: #e3f2fd;
  --btn-cart-text: #1e88e5;
  --btn-buy-bg: #3483fa;

  --price-color: #0077b6;

  --page-padding-margin: 20px;
}
@media (min-width: 728px) {
  :root {
    --page-padding-margin: 50px;
  }
}

@media (min-width: 1024px) {
  :root {
    --page-padding-margin: 100px;
  }
}

@media (min-width: 2000px) {
  :root {
    --page-padding-margin: 350px;
  }
}

* {
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  background-color: var(--primary-color);
}

body {
  background-color: var(--primary-color);
  margin: 0;
}
