:root {
  --primary-color: #25aae700;
  --secundary-color: #0097b2;
  --tertiary-color: black;
  --quaternary-color: #454f5eef;

  --page-padding: 20px;
}
@media (min-width: 728px) {
  :root {
    --page-padding: 50px;
  }
}

@media (min-width: 1024px) {
  :root {
    --page-padding: 100px;
  }
}

@media (min-width: 2000px) {
  :root {
    --page-padding: 500px;
  }
}

* {
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  background-color: var(--primary-color);
}

body {
  background-color: var(--primary-color);
  margin: 0;
}
